body {
    background-color: rgb(227, 239, 242);
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.parrafo1 {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;

    color: rgb(1, 71, 66);
}

.div1{
    font-size: 15px;
}

section {
padding: 20px; 
}

footer {
background-color: rgb(5, 138, 172); 
color: #fff;
padding: 110px; 
}

.footer-content {
max-width: 800px; 
margin: 0 auto; 
}

.texto-footer {
    text-align: center;
    font-size: large;
}

h2 {
    text-align: center;
}

